/* Getting rid of annoying spinner icons in number input fields. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.dh-title {
    font-weight: bold;
}

.dh-form {
    margin-bottom: 0.5em;
}

.dh-form__title {
    font-weight: bold;
}

.dh-form__body {
    margin-top: 0.3em;
}

.dh-form__input-body {
    display: inline-block;
    vertical-align: top;
    width: 18em;
}

.dh-form__input-row {
    margin-bottom: 0.1em;
}

.dh-form__label {
    display: inline-block;
    padding-right: 0.5em;
}

.dh-form__label--step-1 {
    width: 1.2em;
}

.dh-form__label--step-2 {

}

.dh-form__label--step-3 {

}

.dh-form__label--step-4 {

}

.dh-form__label--step-5 {
    width: 8.5em;
}

.dh-form__label--strong {
    font-weight: bold;
}

.dh-form__input {
    width: 8em;
}

.dh-form__img-body {
    display: inline-block;
    margin-left: 2em;
}

.dh-form__img {
    display: block;
}

.dh-form__img-label {

}

.dh-form__submit {

}
