/* Getting rid of annoying spinner icons in number input fields. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"],
input[type="text"] {
    width: 8em;
}

label {
    display: inline-block;
    padding-right: 0.5em;
}

form {
    margin-bottom: 1em;
}

form input[type="submit"] {
    margin-top: 0.5em;
}
